:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --header: #add8e6;
    --h-container: #daa520;
    --jumbotron-bg: #00008b;
    --invite-only-bg: #fff;
    --community-bg: #d3d3d3;
    --fandom-bg: #fff;
    --technology-bg: #d3d3d3;
    --sections-primary: #ee82ee;
    --sections-big: #1e90ff;
    --sections-small: #ffc0cb;
    --sections-secondary: #228b22;
    --footer-aside: #f08080;
    --footer-columns: #20b2aa;
    --footer-copy: #7fffd4;
    --footer-bg: #23272a;
}

body {
    display: flex;
    flex-direction: column;
}

.debug {

    * {
        border: 1px dotted black;
    }
}

header {
    background-color: var(--header);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#h-container {
    background-color: #daa520;
    height: 30px;
    width: 70%;
    display: flex;
    flex-direction: row;
    font-size: 0.7rem;
}

#h-logo {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 3px;
}

#navbar {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .nav-link {
        margin: 3px;
    }
}

#h-login {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 3px;
}

#jumbotron {
    background-color: var(--jumbotron-bg);
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;

    #jumbotron-content {
        height: 280px;
        width: 50%;
        background-color: var(--sections-primary);
    }
}

#invite-only {
    background-color: var(--invite-only-bg);
    height: 350px;
}        

#community {
    background-color: var(--community-bg);
    height: 350px;
}

#fandom {
    background-color: var(--fandom-bg);
    height: 350px;
}

#technology {
    background-color: var(--technology-bg);
    height: 600px;
}

footer {
    background-color: var(--footer-bg);
    height: 450px;
}